@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
:root {
    --heading-font: 'Assistant', sans-serif;
    --paragraph-font: 'Assistant', sans-serif;

    --primary-color: #abff4f;
    --secondary-color: #29bf12;
    --accent1-color: #08bdbd;
    --accent2-color: #f21b3f;

    --nav-background-color: #333333;
    --nav-link-color: #08bdbd;
    --nav-hover-link-color: #29bf12;
    --nav-hover-background-color: #abff4f;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    
  }
/* nav links */
nav a {
    
    text-decoration: none;
    margin: 0 20px; 
    font-size: 20px; 
    color: red;
}

a[href^="mailto:"] {
    color: black; /* Change color for email link*/
    
}
a[href^="mailto:"]:hover {
    color: red ; /* Change the color of the hover*/
}



  
.hero {
    position: relative;
    overflow: hidden;

}
/*content inside banner*/
.hero-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    width: 600px;
}
.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.hero-content article {
    margin-top: 20px;
}
.hero-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.hero img {
    display: block;
    width: 100%; 
    height: auto;
}
.hero h1 {
    position: absolute;
    top: -20%; 
    left: 45%; 
    transform: translate(-50%, -50%); 
    color: black; 
    z-index: 1; 
    font-family: var(--heading-font); 
}
.hero article {
    position: absolute;
    top: 20px;
     
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    color: white; 
     
}
.hero article p {
    margin-top: 0;
    
}
.hero article img {
    float: right;
    margin-left: 10px;
    width: 250px; 
    
}

  /*background*/
body {
    color: black;
    background-color: var(--nav-hover-link-color);
    

}
    
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
nav {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    align-items: center;  
  }
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    margin-bottom: 30px; 
    width: 500px;
}
footer nav {
    
    align-items: center; 
    margin: 0 auto; 
}

footer nav a {
    margin: 0 10px; 
}

/* The History section */
section:nth-of-type(1),
section:nth-of-type(2) {
    background-color:#08bdbd;
    ;
    padding: 20px;
    margin: 0 auto; 
    max-width: 700px; 
}

/* The section headers */
section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; 
}

/* The paragraphs within sections */
section p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; 
}
/* figcaption */
.image-container figcaption {
    margin-top: 10px;
    font-style: italic;
    text-align: center; 
    text-decoration: underline;
}


body {
    font-family: Arial, sans-serif;
    
  }
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  legend {
    font-weight: bold;
  }
  .form-item {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  .employee-profiles {
    max-width: 700px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.employee {
    display: flex;
    width: 100%; 
    margin: 10px;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}

.employee img {
    
    width: 200px; 
    height: auto;
    border-radius: 10px; 
    margin: 0 auto;
}
.team-heading {
    margin-bottom: 20px; 
    color: black;
    text-decoration: underline;
}
.employee p{
    
    margin-right: 20px;
    color: black
    
}
.employee-info {
    flex: 1;
    margin-left: 20px; /* Adjust spacing between image and info */
    text-align: left; 
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
}.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    padding: 20px;
    background-color: #08bdbd;
    
}

.employee-profiles,
.contact-form {
    flex-basis: calc(50% - 10px); /* width of each section */
    margin-bottom: 20px;
}

.bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
}

.map,
form {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px;
}


.contact-form {
    padding: 20px;
    background-color: #f2f2f2;
}

.contact-form h2 {
    margin-top: 0;
}

.map {
    text-align: center;
}
