@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');

body {
    font-family: 'Assistant', sans-serif;
}

.callout-box {
    font-family: 'Assistant', sans-serif;
}

:root {
    --heading-font: 'Assistant', sans-serif;
    --paragraph-font: 'Assistant', sans-serif;

    --primary-color: #abff4f;
    --secondary-color: #29bf12;
    --accent1-color: #08bdbd;
    --accent2-color: #f21b3f;

    --nav-background-color: #ff9914;
    --nav-link-color: #08bdbd;
    --nav-hover-link-color: #29bf12;
    --nav-hover-background-color: #abff4f;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: #3366cc; 
    color: #1e2952; 
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.social-media-link a {
    text-decoration: none;
}
